body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
	margin-left: 100px;
	margin-top: 100px;
}
.gradient-bg {
    background-image: linear-gradient(135deg, #DF95C1, #8BE3D9, #7590D6);
}
header {
    padding: 153px 0 0;
    color: black;
}
.section {
    padding: 20px 0;
}
.footer-bg {
    background-color:#564C56;
}
.section-title {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 30px;
}
.contact {
    margin-left: 50px;
    color: white;
}